body {
    font-family: sans-serif;
}
header {
    position: absolute;
    left: 0;
    top: 0;
    height: 116px;
    box-sizing: border-box;
    /*border: solid 1px black;*/
    width: 100%;
}
.frame {
    width: 1020px;
    height: inherit;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    /*border: solid 1px black;*/
}
header .logo {
    display: inline-block;
    position: absolute;
    font-size: 36px;
    font-family: sans-serif;
    color: #ee8129;
    /*margin-top: 30px;*/
    /*margin-left: 180px;*/
    /*margin-right: 180px;*/
    left: 0;
    bottom: 34px;
}
header .logo span {
    color: #3070a8;
    text-transform: uppercase;
    font-weight: bold;
}
header .menu {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    margin-right: -15px;
    right: 0;
    bottom: 22px;
}
header .menu ul {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}
header .menu ul li {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}
header .menu ul li a {
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #989898;
    text-transform: uppercase;
    padding: 35px 15px;
    margin-bottom: 0;
}
header .menu ul li a:hover {
    color: #3070a8;
    border-bottom: solid 4px #3070a8;
}


.one {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 116px;
    left: 0;
    font-family: sans-serif;
    text-align: center;
    background: #3070a8 url("Layer 93.png") round;
    height: 585px;
    color: white;
}
.one .frame {
    padding-top: 135px;
}
.one h1 {
    font-size: 36px;
}
.one h1 span {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}
.one p {
    font-size: 20px;
    font-style: italic;
}
.one input {
    background: transparent;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    width: 247px;
    height: 59px;
    box-sizing: border-box;
    border: solid 1px rgba(255,255,255,0.5);
}
.one input:hover {
    background-color: rgba(255,255,255,0.6);
    color: #3070a8;
    cursor: pointer;
    border-color: #3070a8;
}

.two {
    box-sizing: border-box;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 701px;
    height: 563px;
    /*border: 1px solid black;*/
    left: 0;
}
.two .adv {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 300px;
    margin-left: 50px;
}
.two .adv:nth-of-type(1) {
    margin-left: 0;
    left: 0;
}
.two h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #41525c;
    margin-top: 60px;
    margin-bottom: 60px;
}
.two h3 {
    font-family: sans-serif;
    font-size: 30px;
    color: #3070a8;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
.two p {
    font-family: sans-serif;
    font-size: 14px;
    color: #999;
    text-align: center;
    line-height: 1.5;
}

.three {
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    top: 1263px;
    width: 100%;
    height: 578px;
    left: 0;
    background: #1f2224 url("Layer102.png") round;
}
.three h2 {
    font-size: 26px;
    color: #ee8129;
    font-family: sans-serif;
    font-weight:normal;
    white-space: pre-line;
    margin-top: 80px;
    line-height: 1.5;
}
.three h3 {
    font-size: 19px;
    color: white;
    font-style: italic;
    font-weight: normal;
}
.three ul {
    margin-left: 0;
    position: relative;
    font-size: 14px;
    color: #9d9d9d;
    line-height: 1.8;
    white-space: pre-line;
    padding-left: 15px;
}
.three ul li:nth-of-type(even) {
    color: #3070a8;
}

.four {
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    text-align: center;
    display: block;
    position: absolute;
    /*left: 10%;*/
    width: 100%;
    height: 704px;
    top: 1841px;
    left: 0;

}
.four h3 {
    text-transform: uppercase;
    font-size: 24px;
    color: #41525c;
    margin-bottom: 30px;
}
.four .frame > h3 {
    margin-top: 70px;
    margin-bottom: 70px;
}
.stand, .best, .ult {
    box-sizing: padding-box;
    border: solid rgb(232, 234, 236) 1px;
    border-radius: 4px;
    width: 290px;
    display: inline-block;
    background-color: white;
    position: relative;
    margin-left: -2px;
    margin-right: -3px;
}
.stand .header {
    background-color: #37c2d3;
}
.best .header {
    background-color: #ec8136;
}
.ult .header {
    background-color: #1cb79a;
}
.four .header {
    display: block;
    position: relative;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 3px 3px 0 0;
}
.four .text, .four .offer, .four sup, .four sup {
    display: inline-block;
    position: relative;
}
.four .text {
    font-size: 24px;
    color: #35495a;
}
.four .offer {
    text-align: center;
    color: #35495a;
    font-size: 72px;
    font-weight: bold;
    margin-top: 10px;
}
.four sup {
    font-size: 0.3em;
    top: -15px;
}
.four sub {
    font-size: 0.25em;
}
.four ul.items {
    position: relative;
    left: -25px;
    list-style-type: none;
    text-align: left;
    width: 259px;
    margin-top: 20px;
}
.four ul.items li {
    position: relative;
    display: block;
    margin-bottom: 1px;
    color: rgb(136,140,148);
    padding-left: 30px;
    height: 25px;
    padding-top: 7px;
}
.four ul.items li:nth-child(odd) {
    background-color: rgb(237,245,253);
}
.four ul.items li:nth-child(even) {
    background-color: rgb(245,245,246);
}
.four ul.items li:before {
    content: url(marker1.png);
    position: relative;
    display: inline-block;
    padding-right: 15px;
}
.four input {
    background-color: #3371a6;
    width: 252px;
    height: 38px;
    margin-top: 18px;
    font-family: inherit;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px #3371a6;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #16436a;
    cursor: pointer;
    margin-bottom: 45px;
}
.four .best input {
    background-color: #ec8136;
    border: solid 2px #ec8136;
    box-shadow: 0 3px 0 0 #b1561b;
}
.four .stand:hover, .best:hover, .ult:hover {
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(8, 116, 178, 0.5);
    z-index: 3;
    margin: -12px -5px -12px -4px;
}
.four .stand:hover {
    border: solid 3px #37c2d3;
}
.four .best:hover {
    border: solid 3px #ec8136;
}
.four .ult:hover {
    border: solid 3px #1cb79a;
}
.four .stand:hover .header, .four .best:hover .header, .four .ult:hover .header {
    padding-top: 30px;
    border-radius: 0;
}
.four .stand:hover input, .four .best:hover input, .four .ult:hover input {
    margin-bottom: 55px;
}


.five {
    font-family: "Trebuchet MS";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 315px;
    background: #16436a url("Layer 66 copy 1.png");
    top: 2545px;
    left: 0;
}
.five h3 {
    text-transform: uppercase;
    color: #3170a8;
    text-align: center;
    font-size: 40px;
}
.five .fstwd {
    color: #ee8129;
}
.five .name, .five .amplua {
    display: inline-block;
    color: #3070a8;
}
.five .amplua {
    float: right;
}
.five .textarea {
    display: block;
    position: relative;
    color: #7f7f7f;
    border-top: dotted 1px #7f7f7f;
    padding: 10px 10px 10px 0;
    margin-top: 10px;
    margin-left: 10px;
}
.five .txt {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 366px;
    padding: 10px;
    border: solid 1px #e0e0e0;
    background-color: white;
    left: 126px;
}
.five .img {
    position: absolute;
    display: block;
    top: 0;
    width: 99px;
    height: 98px;
}
.five .block {
    position: absolute;
    display: block;
    box-sizing: border-box;
    font-size: 13px;
    min-width: 500px;
    min-height: 100px;
    /*margin-left: 23px;*/
    /*margin-right: 20px;*/
    margin-bottom: 50px;
}
.five .block:nth-of-type(2) {
    right: -5px;
}
.five .items {
    position: relative;
    display: block;
    width: inherit;
    /*margin: 0 auto;*/
}
.five .txt::before {
    content: " ";
    position: absolute;
    display: block;
    margin-left: -40px;
    margin-top: 24px;
    float: left;
    border: solid 15px;
    border-color: transparent white transparent transparent;

}
.five .name::before {
    content: "-";
    padding-left: 10px;
    padding-right: 5px;
}


.six {
    left: 0;
    position: absolute;
    top: 2860px;
    box-sizing: border-box;
    width: 100%;
    height: 345px;
}
.six .map {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 50%;
    left: 50%;
    background: #8b7c30 url("Layer 101.png");
    height: inherit;
}
.six .contactbox {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.six img {
    display: inline-block;
    vertical-align: top;
}
.six p {
    display: inline-block;
    vertical-align: top;
    margin-left: 36px;
    line-height: 2;
    margin-top: 0;
    color: #666;
    font-size: 14px;
}
.six .frame .contactbox:nth-of-type(3) p {
    margin-top: -10px;
}
.six .social a {
    display: inline-block;
    margin-right: 20px;
}


footer {
    position: absolute;
    top: 3205px;
    height: 104px;
    box-sizing: border-box;
    width: 100%;
    background: #3070a8;
    text-align: center;
    left: 0;
}
footer p {
    color: white;
    font-size: 14px;
    line-height: 2;
    margin-top: 20px;
}
footer p span {
    color: #1d1c1c;
    font-weight: bold;
}