@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
body {
    background-color: #f6f9f9;
}
.pic {
    position: relative;
    margin: 15px;
    display: inline-block;
    width: 360px;
    height: 260px;
}
.pic img {
    width: 360px;
    height: 260px;
}
.container {
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 70px;
}
h1 {
     font-size: 41px;
     color: #2d3950;
     font-family: 'Lato', sans-serif;
     text-align: center;
    margin-top: 60px;
 }
h4 {
    font-size: 15px;
    color: #909090;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.bluebox {
    display: none;
}
.pic:hover .bluebox {
    display: block;
    position: absolute;
    width: 360px;
    height: 260px;
    background-color: rgba(37,166,247,0.9);
    z-index: 2;
    top: 0;
}
@media (max-width: 1199px) {
    .container {
        width: 810px;
    }
}
@media (max-width: 809px) {
    .container {
        width: 420px;
    }
}
.pic:hover::after {
    content: " ";
    display: block;
    position: absolute;
    width: 360px;
    height: 260px;
    background-color: rgba(37,166,247,0.9);
    z-index: 2;
    top: 0;
}
.hovs {
    display: none;
}
.pic:hover .hovs {
    display: block;
    position: absolute;
    width: 104px;
    height: 52px;
    top: 109px;
    left: 128px;
    z-index: 3;
}
.hovs a {
    box-sizing: border-box;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 5px;
    border: solid #fff 1px;
    border-radius: 2px;
}
.hovs a:hover {
    background-color: rgba(37,166,247,0.9);
}
.hovs a img {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 14px;
}
