::selection {
  background-color: rgba(113, 191, 69, 0.7);
  color: #272636 !important; }

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    max-height: 400px;
    opacity: 1;
    margin-top: 0; }

  .dropdown {
    position: relative; }
    .dropdown .dropdown-menu {
      visibility: hidden;
      max-height: 0;
      opacity: 0;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; } }
.navbar-brand img {
  height: 100px; }

.up-line {
  background-color: #6a1442;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold; }

.up-icon-link, .footer-icon-link {
  color: white;
  padding: 5px;
  font-size: 1.1rem; }
  .up-icon-link:hover, .footer-icon-link:hover {
    color: rgba(165, 161, 229, 0.44); }

nav, .sub-menu {
  background-color: #272636;
  text-transform: uppercase;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.2), inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2); }

.icon {
  font-weight: normal; }

.nav-color {
  color: white;
  font-size: 1.2rem !important;
  font-weight: bold; }
  .nav-color span {
    text-shadow: none; }
  .nav-color:hover {
    color: #aa226c;
    text-shadow: none;
    background: none; }

.sub-menu {
  border: none;
  border-radius: 0;
  border-top: 2px solid #aa226c; }

.navbar-toggler {
  position: relative; }

.sandwich {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 15;
  display: block; }

.sw-line, .sw-topper, .sw-bottom, .sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 1px;
  display: block; }

.sw-topper {
  top: 0;
  transition: transform 0.5s, top 0.2s; }

/* transition-delay: 0.2s, 0s; */
.sw-bottom {
  top: 6px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  top: 12px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 11px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 7px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

@media only screen and (max-width: 992px) {
  .sub-menu {
    border: none;
    box-shadow: none; }

  .nav-color {
    border-bottom: 1px solid #aa226c; }

  .sub-menu .nav-color {
    border-bottom: 1px solid #4e4981; } }
footer {
  background-color: #272636; }

footer {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.35), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.35); }

footer h4 {
  color: #71bf45; }

.footer-icon-link {
  font-size: 2.2rem; }

footer p {
  color: white; }

.footer-links {
  color: white; }
  .footer-links:hover {
    color: #aa226c;
    text-decoration: none; }

footer ul {
  list-style: none; }

.services-link {
  padding-left: 0.2rem; }
  .services-link .plumicon {
    color: white; }

.slideshow .carousel-item {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important; }

section.slideshow {
  position: relative !important; }

.carousel-text {
  position: absolute;
  z-index: 10; }

.carousel-text h1.carousel-text-header {
  font-size: 2.1rem;
  color: white;
  text-shadow: 0 0 3px #aa226c, 0 5px 8px rgba(0, 0, 0, 0.42); }
  @media (min-width: 576px) {
    .carousel-text h1.carousel-text-header {
      font-size: 2.25rem; } }
  @media (min-width: 768px) {
    .carousel-text h1.carousel-text-header {
      font-size: 3rem; } }
  @media (min-width: 992px) {
    .carousel-text h1.carousel-text-header {
      font-size: 3.75rem; } }
  @media (min-width: 1200px) {
    .carousel-text h1.carousel-text-header {
      font-size: 4.5rem; } }

.carousel-text a.carousel-text-link {
  color: white;
  display: inline-block;
  font-weight: bold;
  border-radius: 0.2rem;
  border: 1px solid #4e4981;
  padding: 0.72rem 0.96rem 0.8rem;
  background-color: rgba(78, 73, 129, 0.7);
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin-top: 10rem; }
  .carousel-text a.carousel-text-link:hover {
    background-color: #4e4981;
    text-decoration: none; }
  @media (min-width: 576px) {
    .carousel-text a.carousel-text-link {
      font-size: 0.84rem;
      margin-top: 6rem; } }
  @media (min-width: 768px) {
    .carousel-text a.carousel-text-link {
      font-size: 0.72rem;
      margin-top: 10rem; } }
  @media (min-width: 992px) {
    .carousel-text a.carousel-text-link {
      font-size: 0.9rem;
      margin-top: 10rem; } }
  @media (min-width: 1200px) {
    .carousel-text a.carousel-text-link {
      font-size: 1.2rem;
      margin-top: 10rem; } }

.main-text {
  color: #333056; }
  .main-text p, .main-text ul {
    font-size: 1.35rem; }

.button-link {
  color: #333056;
  display: inline-block;
  font-weight: bold;
  border-radius: 0.2rem;
  border: 1px solid #4e4981;
  padding: 0.72rem 0.96rem 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  text-align: center; }
  .button-link:hover {
    background-color: #4e4981;
    color: white;
    text-decoration: none; }

.card-link {
  color: #333056; }
  .card-link:hover {
    color: #aa226c; }

.card {
  border-color: rgba(165, 161, 229, 0.44);
  display: block; }

.card-link-wrap {
  height: 100%; }

.parallax-window {
  min-height: 400px;
  background: none; }

.parallax-text {
  background: rgba(255, 255, 255, 0.6);
  color: #4e4981; }

.ph-folder-icon img, .ph-icon-img {
  cursor: pointer; }

#photoGalleryCarousel {
  display: none; }
  #photoGalleryCarousel .carousel-inner {
    position: fixed;
    top: 0;
    z-index: 100; }
  #photoGalleryCarousel .carousel-item {
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important; }
  #photoGalleryCarousel .slideshow-img {
    cursor: pointer; }
  #photoGalleryCarousel .close-slideshow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem; }

/*# sourceMappingURL=styles.css.map */
