nav {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgb(26,164,255);
    box-sizing: border-box;
    text-align: center;
}
.menu {
    position: relative;
    display: inline-block;
    width: 900px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}
.menu li {
    display: inline-block;
    box-sizing: border-box;
    }
.menu li a,
.menu li a:visited{
    text-decoration: none;
}
.menu ul {
    display: none;
    position: fixed;
    top: 38px;
    left: 0;
    width: 100%;
    background-color: rgb(238,238,238);
    box-sizing: border-box;
    text-align: center;
    /*amargin-right: -100px;*/
    /*amargin-left: -100px;*/
}
.menu a{
    display: inline-block;
    box-sizing: border-box;
    height: 38px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 19px;
    font-family: Economica;
    color: white;
    padding-top: 8px;
    padding-right: 14px;
    padding-left: 14px;
}
.menu ul li a {
    height: 36px;
    text-transform: capitalize;
    color: rgb(160,160,160);
    font-weight: normal;
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px;
}
.menu li a:hover,
.menu li:hover > a {
    background-color: rgb(238,238,238);
    color: rgb(160,160,160);
}
.menu ul li a:hover {
    background-color: rgb(26,164,255);
    color: white;
}
.menu li:hover > ul {
    display: inline-block;
}
.menu ul li {
    text-align: justify;
    width: 900px;
}