@import url('https://fonts.googleapis.com/css?family=Acme');
.cont
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(166,77,255);
}
span {
    display: inline-block;
    box-sizing: border-box;
}
a {
    display: inline-block;
    box-sizing: border-box;

    height: 38px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 19px;
    font-family: Acme;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
:link {
    text-decoration: none;

}
:visited {
    text-decoration: none;
}
a:hover
{
    background-color: white;
    color: rgb(160,160,160)
}
span:first-of-type
{
    margin-left: 59px;
}