.key {
    display: inline-block;
    padding: 0.5em;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 0.2em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.keyrow {
    text-align: center;
}
.specialKey {
    width: 35px;
    height: 20px;
}
.calculatorContainer {
    position: relative;
    width: 220px;
}

.closeTab {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: 1px solid red;
    color: white;
    background-color: red;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    text-align: center;
}