header {
    position: absolute;
    left: 0;
    top: 0;
    height: 116px;
    box-sizing: border-box;
    /*border: solid 1px black;*/
}
header .logo {
    display: inline-block;
    position: relative;
    font-size: 36px;
    font-family: sans-serif;
    color: #ee8129;
    margin-top: 30px;
    margin-left: 180px;
    margin-right: 180px;
}
header .logo span {
    color: #3070a8;
    text-transform: uppercase;
    font-weight: bold;
}
header .menu {
    display: inline-block;
    position: relative;
}
header .menu ul {
    display: inline-block;
    position: relative;
}
header .menu ul li {
    display: inline-block;
    position: relative;
}
header .menu ul li a {
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #989898;
    text-transform: uppercase;
}
header .menu ul li a:hover {
    color: #3070a8;
}